 :root{
    --bg: #003161;
    
    }
    *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:  sans-serif;
}
html{
  scroll-behavior: smooth;
}
body{
    background-color: #003161;
    transition: .4s all ease;
}
nav{
    background-color: #006A67;
    color: #FFF4B7;
    align-items: center;
    justify-content: space-between;
    display: flex;
    height: 60px;
    padding: 0 20px;
    position: fixed;
    width: 100%;
    top: 0;
    border-bottom: .3px solid rgb(86, 148, 148);
    z-index: 2;
}
@media (max-width:620px) {
    nav ul{
        display: none;
    }
}
nav .logo p{
  font-weight: 900;
  font-size: 1.6rem;
}
nav ul li {
    display: inline;
    margin: auto 10px;
}
nav ul li a{
    color: white;
    padding: 5px 10px;
    text-decoration: none;
    transition: .4s all ;
}
nav ul li a.active{
    background-color: #006A67;
}
nav ul li a:hover{
    background-color: rgb(86, 148, 148);
}
nav .btn{
    width: 45px;
    height: 40px;
    border: 1px solid #FFF4B7;
    border-radius: 8px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
@media (min-width:620px) {
    nav .btn{
        display: none;
    }
}

nav .btn div{
    width: 30px;
    height: 3px;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: #FFF4B7;
}
nav .btn div:nth-child(1){
    transform: translateY(-7px);
}
nav .btn div:nth-child(3){
    transform: translateY(7px);
}
nav .btn div svg{
  width: 10px;
  height: 20px;
  padding: 20px;
}

.lis{
  position: fixed;
  width: 90%;
  height: 100%;
  top: 60px;
  left: -90%;
  background: #006A67;
  
  padding: 20px;
  z-index: 1000;
  transition: .4s all;
}
.lis ul {
 width: 100%;
 /* display: flex;
 justify-content: center;
 align-items: center; */
 top: 50%;
 left: 50%;
 position: absolute;
 transform: translate(-50%,-50%);
}
.lis ul li{
  text-align: center;
  margin: 30px auto;
  list-style: none;
  background: rgb(86, 148, 148);
  width: 200px;
  height: 40px;
}
.lis ul li a{
  text-decoration: none;
  color: #fff;
  padding: 10px 17px;
  line-height: 40.2px;
}
.lis.active{
  transition: .4s all;
  left: 0%;
}
.home{
    width: 100%;
   
    padding: 20px;
    align-items: center;
    justify-content: space-around;
    display: flex;
    color: white;
    flex-wrap: wrap;
    padding-top: 60px;
    
}
.home .left{
    width: 443px;
    padding: 20px;
    margin: 0 15px;

}
.home .left p{
    font-size: 13px;
    font-weight: 300;
    margin: 10px 0;
}
.home .left h3{
    font-size: 24px;
}
.home .left h3 span{
    color: #FFF4B7;
}
.home .left h1{
    font-size: 33px;
}
.home .left .sochel{
    width: 300px;
    height: 60px;
    align-items: center;
    justify-content: space-around;
    display: flex;
}
.home .left .sochel div{
    width: 50px;
    padding: 9px;
    height: 50px;
    border: 2px solid #FFF4B7;
    border-radius:8px;
    text-align: center;
    line-height: 50px;
}
.home .right{
    width: 220px;
}
.home .right .c-img{
    align-items: center;
    display: flex;
    justify-content: center;
}
.home .left button{
    padding: 10px 15px;
    margin-top: 10px;
    background-color: #006A67;
    outline: none;
    border: none;
    font-weight: 900;
    border-radius: 8px;
}
.home .left button a{
    color: #FFF4B7;
    text-decoration: none;
}
.about{
  width: 100%;
  
  padding: 20px;
  align-items: center;
  justify-content: space-around;
  display: flex;
  color: white;
  flex-wrap: wrap;
  padding-top: 80px;
  background: #006A67;
}
.about .right {
  width: 443px;
  padding: 20px;
  margin: 0 15px;
  
}
.about .right p{
    font-size: 13px;
    font-weight: 300;
    margin: 10px 0;
    
}
.about .right h3{
    font-size: 24px;
}
.about .right h3 span{
    color: #FFF4B7;
}
.about .right h1{
    font-size: 38px;
}
.about .right .sochel{
    width: 320px;
    height: 60px;
    align-items: center;
    justify-content: space-around;
    display: flex;
}
.about .right button{
  padding: 10px 15px;
  margin-top: 10px;
  background-color: #003161;
  outline: none;
  border: none;
  font-weight: 900;
  color: #003161;
  border-radius:8px;
}
.about .right button a{
  color: white;
  text-decoration: none;
}
.serv{
  width: 100%;
  
}
.serv h1{
  color: #fff;
  padding-top: 80px;
  text-align: center;
}
.serv h1 span{
  color: #FFF4B7;
}
.box{
  width:100%;
  align-items: center;
  justify-content: center;
  display: flex;
  padding: 15px;
  flex-wrap: wrap;
  margin: 30px 0;
  
}
.box .card{
  width: 340px;
  background: #006A67;
  margin: 10px auto;
  transition: .4s all;
  height: 378px;
}
.box .card:hover{
  border: 2px solid rgb(86, 148, 148);
}
.box .card .icon{
  width: 60px;
  height: 60px;
  color: #FFF4B7;
  margin: 25px auto;
}
.box .card .icon svg{
  width: 100%;
  height: 100%;
}
.box .card h3{
  text-align: center;
  padding: 0 0 10px 0;
  color: #fff;
}
.box .card p{
  text-align: center;
  color: #fff;
  padding: 0 35px;
  font-size: 13px;
}
.box .card button{
  text-align: center;
  color: #fff;
  margin: 15px auto;
  padding: 10px 35px;
  background: #003161;
  outline: none;
  border: none;
  left: 50%;
  position: relative;
  transform: translateX(-50%);
  z-index: 1;
  border-radius:8px;
}




.portf{
  background: #006A67;
  padding: 30px 15px;
  width: 100%;
  height: auto;
  
}
.portf h1{
  
  text-align: center;
  color: #fff;
  padding-top: 40px;
  
}
.portf h1 span{
  color: #FFF4B7;
}
.portf .box{
  
  align-items: center;
  justify-content: center;
}
.portf .box .c-img{
  width: 330px;
  height: 330px;
  margin: 10px;
  box-shadow: 0 0 12px #444;
}
.portf .box .c-img .img{
  
  background-size: cover;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  background-color: #003161;
}
.portf .box .c-img .img button{
  width: 120px;height: 45px;
  background: white;
  outline: none;
  border: none;
  line-height: 70px;
}
.portf .box .c-img .img button a{
  color: #444;
}

.portf .box .c-img .img center {
  padding-top: 35px;
  background: linear-gradient(to bottom ,#42445A94,#000000);
  height: 100%;
  bottom: -100%;
  position: absolute;
  transition: .4s;
}

.portf .box .c-img .img center.active {
  bottom: 0%;
}

.portf .box .c-img .img h1{
  padding: 10px 0;
}
.portf .box .c-img .img p {
  padding: 25px 0;
  color: #fff;
}
.contact{
  padding-top: 10px;
  padding-bottom: 30px;
  margin-bottom: 40px;
}
.contact h1{
  padding: 80px 0 25px 0;
  text-align: center;
  color: #fff;
}
.contact h1 span{
  color: #FFF4B7;
}
.contact .c-inp{
  width: 80%;
  padding: 0 20px;
  margin: 0px auto;
  
}
.contact .c-inp input{
  margin: 15px 10px;
  width: 100%;
  max-width: 350px;
  height: 45px;
  outline: none;
  border: none;
  padding: 0 15px;
  background: transparent;
  box-shadow: 0 0 2px rgba(121, 214, 214, 1);
  color: #fff;
  
}
.contact .c-inp textarea{
  margin: 5px 10px;
  background: transparent;
  width: 100%;
  height: 220px;
  box-shadow: 0 0 2px rgba(121, 214, 214, 1);
  outline: none;
  border: none;
  color: #fff;
  padding: 20px 35px;
}
